<app-pane [icon]="faCutlery" name="Mat">
  <div class="flex flex-col gap-1">
    <h3 class="text-title">Idag</h3>
    <div *ngFor="let day of menuToday?.meals" class="bg-innerContainer p-2 rounded">
      <span>{{ (theme.getThemeType() == ThemeType.AprilFools ? theme.getRandomWordPrefix() + " " : "") + day }}</span>
    </div>

  </div>

  <div class="flex flex-col gap-1">
    <h3 class="text-title">{{ nextDayText }}</h3>
    <div *ngFor="let day of menuTomorrow?.meals" class="bg-innerContainer p-2 rounded">
      <span>{{ (theme.getThemeType() == ThemeType.AprilFools ? theme.getRandomWordPrefix() + " " : "") + day }}</span>
    </div>
  </div>
</app-pane>
