<app-pane [icon]="faBullhorn" name="Senaste Classroom-inlägget">
  @if (announcement != null) {
    <div class="bg-innerContainer rounded-lg w-full p-2 flex flex-col gap-2">
      <div class="flex gap-2 items-center">
        <img [ngSrc]="announcement.userPhotoUrl" alt="Profilbild" width="40" height="40" class="rounded">
        <div>
          <p>{{ announcement.userName }}</p>
          <app-date [date]="this.announcement!.creationDate"></app-date>
        </div>

      </div>
      <div class="bg-container p-2 rounded-lg h-full">
        <p>{{ announcement.text }}</p>
      </div>
    </div>
  }
</app-pane>

