<app-pane [icon]="faTrafficLight" name="Kollektivtrafik">
  @if (stopAreas.length > 0) {
    <div class="gap-4 grid grid-cols-2 grid-rows-2 h-full">
      <div *ngFor="let stopArea of stopAreas" class="flex gap-2 flex-col">
        <p>{{ stopArea.name.split(",")[0] }}</p>
        <div class="flex gap-2 flex-col bg-innerContainer h-full rounded-lg p-4 overflow-y-hidden">
          <app-vasttrafik-departure *ngFor="let departure of stopArea.departures"
                                    [departure]="departure"></app-vasttrafik-departure>
        </div>
      </div>
    </div>
  }
</app-pane>
