<app-pane [icon]="faPiggyBank" name="Studentkassa">
  <div class="w-full flex h-full items-center justify-center gap-4">
    <app-round-progressbar [color]="progressColor" [current]="0" [max]="50000" name="Klass 1"></app-round-progressbar>
    <app-round-progressbar [color]="progressColor" [current]="8102" [max]="50000"
                           name="Klass 2"></app-round-progressbar>
    <app-round-progressbar [color]="progressColor" [current]="45003" [max]="50000"
                           name="Klass 3"></app-round-progressbar>
  </div>
</app-pane>
