<app-pane [icon]="faBullhorn" name="Classroom">
  <div class="bg-innerContainer rounded-lg w-full h-full">
    <span>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>
      Yo man<br>

    </span>
  </div>
</app-pane>
